@page
@using Humanizer;
@model App.Pages.Project.DetailsModel
@{
    ViewData["Title"] = "Details";
}

@section Styles
{
    <style>
    </style>
}

<h3 class="s-title pb-0">@Model.Project.Title</h3>
<p class="card-subtitle text-gray">@Model.Project.SubHeading</p>
<p>@Model.Project.Description</p>

@foreach (string tag in Model.Project.Tags?.Split(",") ?? new string[0])
{
    <span class="chip">@tag</span>
}

<div class="clearfix mt-2">
    <a asp-page="/Template/Add" asp-route-projectId="@Model.Project.Id" type="button" class="btn btn-outline-success float-right mb-4">Create template</a>
</div>

@if (Model.Project.Templates.Any())
{
    <div class="accordian-table">
        <header>
            <p>Template</p>
            <p>Last edited</p>
        </header>
        <div class="accordion-wrapper">
            @foreach (var template in Model.Project.Templates)
            {
                <div class="accordion">
                    <input type="checkbox" id="@template.Id" name="accordion-checkbox" hidden>
                    <label class="accordion-header" for="@template.Id">
                        <i class="icon icon-arrow-right"></i>
                        <span class="ml-2">@template.Name</span>
                        <span>@template.DateModified.Humanize()</span>
                        <div class="dropdown dropdown-right">
                            <a href="#" class="btn btn-action btn-link dropdown-toggle" tabindex="0">
                                <i class="icon icon-more-vert"></i>
                            </a>
                            <!-- menu component -->
                            <ul class="menu">
                                <li class="menu-item"><a href="#dropdowns">Edit name</a></li>
                                <li class="menu-item"><a href="#dropdowns">Duplicate</a></li>
                                <li class="menu-item"><a href="#dropdowns">Delete</a></li>
                            </ul>
                        </div>
                    </label>
                    <div class="accordion-body">
                        <div>
                            <div class="d-inline">
                                <span class="text-caption">Temaplate ID: @template.Id</span>
                                <div class="popover popover-bottom ml-2">
                                    <div class="btn btn-action btn-sm s-circle">i</div>
                                    <div class="popover-container">
                                        <div class="card">
                                            <div class="card-body">
                                                A template ID is the unique identifier for a template. It's most often used as part of an API call to identify which template should be used for an email request.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="empty-template">
                                <p class="text-caption">Add a version to this template in order to start editing its contents.</p>
                                <a asp-page="/Template/Add" type="button" class="btn btn-outline-success float-right">Add version</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No project, create a project</p>
}


@section Scripts
{
    <script>
        $('.expand-table .t-row').on("click", function (event) {
            $(this).next(".t-detail").toggleClass("expanded");
        });

    </script>
}
