@page
@using Humanizer;
@model App.Pages.Project.DetailsModel
@{
    ViewData["Title"] = @Model.Project.Title;
}

<div class="sticky-header">
    <h3 class="pb-0 m-0">@Model.Project.Title</h3>
    <p class="card-subtitle text-gray m-0">@Model.Project.SubHeading</p>
</div>

<p>@Model.Project.Description</p>

@foreach (string tag in Model.Project.Tags?.Split(",") ?? new string[0])
{
    <span class="chip">@tag</span>
}

<div class="clearfix mt-2">
    <a type="button" href="#" class="btn btn-outline-success float-right mb-4 js-cd-panel-trigger" data-panel="main">Create template</a>
</div>

@if (Model.Project.Templates.Any())
{
    <div class="accordian-table">
        <header>
            <p>Template</p>
            <p>Last edited</p>
        </header>
        <div class="accordion-wrapper">
            @foreach (var template in Model.Project.Templates)
            {
                <div class="accordion" id="template-@template.Id">
                    <input type="checkbox" id="@template.Id" name="accordion-checkbox" hidden>
                    <label class="accordion-header" for="@template.Id">
                        <i class="icon icon-arrow-right"></i>
                        <span class="ml-2 user-select-none">@template.Name</span>
                        <span class="text-capitalize user-select-none">@template.DateModified.Humanize()</span>
                        <div class="dropdown dropdown-right">
                            <a href="#" class="btn btn-action btn-link dropdown-toggle" tabindex="0">
                                <i class="icon icon-more-vert"></i>
                            </a>
                            <ul class="menu">
                                <li class="menu-item user-select-none"><a href="#" class="js-cd-panel-trigger" data-panel="editNema">Edit name</a></li>
                                <li class="menu-item user-select-none"><a href="#" class="js-cd-panel-trigger" data-panel="delete">Delete</a></li>
                            </ul>
                        </div>
                    </label>
                    <div class="accordion-body">
                        <div>
                            <div class="d-inline">
                                <span class="text-caption"><span class="user-select-none">Temaplate ID: </span>@template.Id</span>
                                <div class="popover popover-bottom ml-2">
                                    <div class="btn btn-action btn-sm s-circle">i</div>
                                    <div class="popover-container">
                                        <div class="card">
                                            <div class="card-body">
                                                A template ID is the unique identifier for a template. It's most often used as part of an API call to identify which template should be used for an email request.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="empty-template">
                                <p class="text-caption">Add a version to this template in order to start editing its contents.</p>
                                <a asp-page="/Template/Add" type="button" class="btn btn-outline-success float-right">Add version</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No project, create a project</p>
}

@section Panels
{
    <div class="cd-panel cd-panel--from-right js-cd-panel-main">
        <div class="cd-panel__container">
            <div class="cd-panel__content">
                <a href="#0" class="cd-panel__close js-cd-close">Close</a>
                <h3 class="s-title pb-0">Create a new template</h3>
                <p>Give your new template a name. Template names are never public, are visible only to you and can be changed anytime.</p>
                <form class="form-horizontal" method="post" style="max-width: 800px">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.CreateTemplate.ProjectId)
                        <div class="col-3 col-sm-12">
                            <label class="form-label" asp-for="CreateTemplate.Name">@Html.DisplayNameFor(model => model.CreateTemplate.Name)</label>
                        </div>
                        <div class="col-9 col-sm-12">
                            <input class="form-input" type="text" asp-for="CreateTemplate.Name" placeholder="@Html.DisplayNameFor(model => model.CreateTemplate.Name)">
                            <span class="form-input-hint" asp-validation-for="CreateTemplate.Name"></span>
                        </div>
                    </div>
                    <button type="submit" id="createTemplateSubmitBtn" class="btn btn-outline-success float-right" disabled>Create</button>
                </form>
            </div>
        </div>
    </div>

    <div class="cd-panel cd-panel--from-right js-cd-panel-delete">
        <div class="cd-panel__container">
            <div class="cd-panel__content">
                <a href="#0" class="cd-panel__close js-cd-close">Close</a>
                <h3 class="s-title pb-0">Delete template</h3>
                <p>Give your new template a name. Template names are never public, are visible only to you and can be changed anytime.</p>
                <form class="form-horizontal" method="post" style="max-width: 800px">
                    <div class="form-group">
                    </div>
                    <button type="submit" class="btn btn-outline-success float-right" disabled>Create</button>
                </form>
            </div>
        </div>
    </div>
    <div class="cd-panel cd-panel--from-right js-cd-panel-editNema">
        <div class="cd-panel__container">
            <div class="cd-panel__content">
                <a href="#0" class="cd-panel__close js-cd-close">Close</a>
                <h3 class="s-title pb-0">Edit name</h3>
                <p>Give your new template a name. Template names are never public, are visible only to you and can be changed anytime.</p>
                <form class="form-horizontal" method="post" style="max-width: 800px">
                    <div class="form-group">
                    </div>
                    <button type="submit" class="btn btn-outline-success float-right" disabled>Create</button>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts
{
    @*Disable and enable create temaplate button*@
    <script>
        document.getElementById("CreateTemplate_Name").addEventListener('input', function (e) {
            if (e.target.value == null || e.target.value.trim() == "") {
                document.getElementById("createTemplateSubmitBtn").disabled = true;
            } else {
                document.getElementById("createTemplateSubmitBtn").disabled = false;
            }
        });
    </script>

    @*Trigger row to shake , indicating new entry*@
    <script>
        $(document).one("scrollToId", function (event) {
            var scrollToId = null;
            @{
                if (!string.IsNullOrWhiteSpace(TempData["scrollToId"]?.ToString()))
                {
                    <text>scrollToId = "@TempData["scrollToId"]";</text>
                }
            }

            if (scrollToId != null) {
                // TODO: Fade to green
                document.getElementById(scrollToId).classList.add('animate__animated', 'animate__headShake');
            }
        });
    </script>
}