@page
@using App.Database.Models
@using Humanizer;
@using Microsoft.AspNetCore.Html;
@model App.Pages.Project.IndexModel
@{
    ViewData["Title"] = "Projects";
}

<div class="sticky-header">
    <h3>
        <span class="badge" data-badge="@Model.Projects.Count()">
            Projects
        </span>
    </h3>
</div>


@if (Model.Projects.Any())
{
    <div class="clearfix">
        <a asp-page="/project/Create" type="button" class="btn float-right mt-2">Create project</a>
    </div>
    <div class="columns">

        @foreach (ProjectTbl project in Model.Projects)
        {
            <a asp-page="/Project/Details" asp-route-id="@project.Id" class="column col-3 col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h5">@project.Name</div>
                        <div class="card-subtitle text-gray">@project.SubHeading</div>
                    </div>
                    <div class="card-body text-clip">@project.Description</div>
                </div>
            </a>
        }
    </div>
}
else
{
    <div class="empty mt-2">
        <div class="empty-icon">
            <ion-icon name="file-tray-full-outline" size="large"></ion-icon>
        </div>
        <p class="empty-title h5">Create your first project</p>
        <p class="empty-subtitle">Project allow you to group 1 or more email templates together</p>
        <div class="empty-action">
            <a asp-page="/project/Create" class="btn" type="button">Create project</a>
        </div>
    </div>
}

@section Scripts{
    <script>
        var inputs = document.getElementsByClassName('tags');
        for (input in inputs) {
            var tagify = new Tagify(input);
        }
    </script>
}