<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - Email.io</title>
    <link rel="stylesheet" href="~/css/bundle.css" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="docs-container off-canvas off-canvas-sidebar-show cd-main-content">
        <partial name="_sidebar" />

        <div class="content">
            <div class="container" id="container">
                @RenderBody()
            </div>
            <partial name="_footer" />
        </div>
    </div>

    @RenderSection("Panels", required: false)

    <script src="~/js/bundle.js" asp-append-version="true"></script>
    <script src="/js/dragsort.js" asp-append-version="true"></script>
    <script src="/js/toast.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>

    <!-- Triggers toasts -->
    <script>
        var toastMessage = null;
        var toastStatus = null;
        @{
        if (!string.IsNullOrEmpty(TempData["toastMessage"]?.ToString()))
        {
            <text>toastMessage = "@TempData["toastMessage"]";</text>
        }

        if (!string.IsNullOrEmpty(TempData["toastStatus"]?.ToString()))
        {
            <text>toastStatus = "@TempData["toastStatus"]";</text>
        }
    }
        loadToests(toastMessage, toastStatus);
    </script>

    <script>
        const el = document.querySelector(".sticky-header")
        const observer = new IntersectionObserver(
            ([e]) => e.target.classList.toggle("sticky-header-border", e.intersectionRatio < 1),
            { threshold: [1] },
        );

        observer.observe(el);
    </script>


    @RenderSection("Scripts", required: false)

    <script>
        var scrollToId = null;
        @{
            if (!string.IsNullOrEmpty(TempData["scrollToId"]?.ToString()))
            {
                <text>scrollToId = "@TempData["scrollToId"]";</text>
            }
        }

        if (scrollToId != null) {
            $('html, body').animate({
                scrollTop: $(`#${scrollToId}`).offset().top - 100,
            }, 1000).promise().done(function () {
                $(document).trigger("scrollToId");
                console.log("test");
            });
        }
    </script>
</body>
</html>