<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - Email.io</title>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/template.css" />

    @RenderSection("Styles", required: false)
</head>

<body>
    @RenderBody()
    @RenderSection("Panels", required: false)
    <script src="~/js/bundle.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
    <!-- Triggers toasts -->
    <script src="/js/toast.js" asp-append-version="true"></script>
    <script>
        var toastMessage = null;
        var toastStatus = null;
        @{
        if (!string.IsNullOrEmpty(TempData["toastMessage"]?.ToString()))
        {
            <text>toastMessage = "@TempData["toastMessage"]";</text>
        }

        if (!string.IsNullOrEmpty(TempData["toastStatus"]?.ToString()))
        {
            <text>toastStatus = "@TempData["toastStatus"]";</text>
        }
    }
        loadToests(toastMessage, toastStatus);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>