

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - Email.io</title>
    <link rel="stylesheet" href="~/css/main.css" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="docs-container off-canvas off-canvas-sidebar-show cd-main-content">
        <partial name="_sidebar" />

        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
            <partial name="_footer" />
        </div>
    </div>

    @RenderSection("Panels", required: false)

    <script src="~/js/bundle.min.js" asp-append-version="true"></script>
    <script src="/js/dragsort.js" asp-append-version="true"></script>
    <script src="/js/toast.js" asp-append-version="true"></script>

    <!-- Triggers toasts -->
    <script>
        var toastMessage = null;
        var toastStatus = null;
        @{
            if (!string.IsNullOrEmpty(TempData["message"]?.ToString()))
            {
                <text>toastMessage = "@TempData["message"]";</text>
            }

            if (!string.IsNullOrEmpty(TempData["status"]?.ToString()))
            {
                 <text>toastStatus = "@TempData["status"]";</text>
            }
        }
        loadToests(toastMessage, toastStatus);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
